# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VSCode
.idea/
.vscode/

# Logs
logs/
logs/*.log
logs/errors/*.log

# App settings
appsettings.json
/API/appsettings.json
/API/appsettings.json
API/.env
